list in python

In [2]:
my_list = [1,2,3]

In [4]:
my_list = ["string",100,23.2]

In [7]:
len(my_list)

3

where len function used for length

similar to string link indexing.

In [15]:
my_list =["one","two","three"]

In [16]:
my_list[0]

'one'

In [17]:
another_list = ["four", "five", "six"]

In [19]:
new_list = my_list + another_list

In [21]:
new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [23]:
my_list[1:] #similar like indexing string is link indexing

['two', 'three']

In [24]:
# changes in list is simple

In [25]:
my_list[0] = "oneee oneeee"

In [26]:
my_list

['oneee oneeee', 'two', 'three']

In [28]:
#to add element in list use key .append() example:

In [33]:
my_list .append ("six")

In [34]:
my_list

['oneee oneeee', 'two', 'three', 'six']

In [38]:
new_list.append("seven")

In [39]:
new_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'seven']

In [40]:
#pop use to delete an item

In [45]:
new_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'seven']

In [46]:
new_list .pop()

'seven'

In [47]:
new_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [48]:
#here seven is pop by using .pop from last.

In [52]:
popped_item = new_list.pop()

In [53]:
popped_item

'six'

In [54]:
new_list

['one', 'two', 'three', 'four', 'five']

In [57]:
new_list.pop(0)

'one'

In [58]:
new_list

['two', 'three', 'four', 'five']

In [59]:
#so u can remove from beginning too element sorting list

In [60]:
my_list = ["a", "b", "h", "k", "i", "c", "e"]

In [61]:
my_list.sort()

In [63]:
my_list #sorting is doneeeee easily.

['a', 'b', 'c', 'e', 'h', 'i', 'k']

In [66]:
typemy_sorted_list = my_list.sort()

In [70]:
num_list = ['98', '99', '1', '66']

In [71]:
num_list.sort()

In [73]:
num_list

['1', '66', '98', '99']

In [74]:
num_list.reverse() #reverse is done.

In [75]:
num_list

['99', '98', '66', '1']